
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="merry christmas is a Bootstrap 3 Premium website Template">
    <meta name="author" content="themescontainer">

    <title>Merry christmas Responsive HTML5,CSS3,Bootstrap 3 Template</title>

    <!--bootstrap-->
    
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <script src="~/assets/jquery-2.1.1.min.js"></script>
   
    <!--favicon-->
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
    <form action="/Home/CodeEntered">
    <label style="color:white">Введите ваш подарочный код!</label>
    <input class="code-input" name="code"/>
    <button class="code-btn" type="submit">Подтвердить!</button>
    </form>
    <!--pre loader-->
    
    </body>
</html>