
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/assets/css/style.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Present</title>
</head>
<body style="top: 0px">
    <div>
       @Html.Raw(@ViewBag.Movie) 
    </div>
</body>
</html>
